<h1 mat-dialog-title>Create new Area</h1>
<div mat-dialog-content class="rule-detail">
	<mat-form-field class="full-width">
		<input #nameInput="ngModel" matInput placeholder="Area name" [(ngModel)]="name" maxlength="100" required>
		<mat-error>You must enter a value</mat-error>
		<mat-hint align="end">{{nameInput.value?.length || 0}}/100</mat-hint>
	</mat-form-field>
</div>
<div mat-dialog-actions>
	<button mat-button (click)="onCloseClick()" tabindex="2">Close</button>
	<button mat-button (click)="onCreateClick()" tabindex="2">Create</button>
</div>