<div>
	<span class="thick">Creating:
	</span>
	<span>{{name}}</span>
</div>
<div class="btn-wrp">
	<button class="btn" mat-button (click)="onCreateClick()">Confirm</button>
	<button class="btn" mat-button color="warn" (click)="onCloseClick()">Cancel</button>
</div>