.mat-snack-bar-container.mat-snack-bar-center {
    margin-bottom: 40px;
    background-color: #003460;
	height: 38px;
	font-size: 15px;
}

.thick {
    font-weight: bold;
}

.btn-wrp .btn{
	float: right;
	height: 30px;
    font-size: 10px;
}
