<h1 mat-dialog-title style="font-size:1.5em;">{{data.title}}</h1>
<div mat-dialog-content>
	<mat-form-field class="full-width">
		<input #nameInput="ngModel" matInput placeholder="Rule name" [(ngModel)]="rule.name" maxlength="100" required>
		<mat-error>You must enter a value</mat-error>
		<mat-hint align="end">{{nameInput.value?.length || 0}}/100</mat-hint>
	</mat-form-field>

	<div class="full-width datepicker-div">
		<mat-form-field class="">
			<input matInput [matDatepicker]="pickerFrom" placeholder="Valid from" [(ngModel)]="rule.dateFrom" required maxlength="10"
			 pattern=".*">

			<mat-datepicker-toggle matSuffix [for]="pickerFrom"></mat-datepicker-toggle>
			<mat-datepicker #pickerFrom></mat-datepicker>
			<mat-error>Empty or invalid date</mat-error>
			<mat-hint align="end">m/d/yyyy</mat-hint>
		</mat-form-field>
		<mat-form-field class="full-width">
			<input [(ngModel)]="rule.dateTo" matInput [matDatepicker]="pickerTo" placeholder="Valid to" [(ngModel)]="rule.dateTo" [min]="rule.dateFrom"
			 maxlength="10" [disabled]="rule.endlessRule" required pattern=".*">
			<mat-datepicker-toggle matSuffix [for]="pickerTo" [disabled]="rule.endlessRule"></mat-datepicker-toggle>
			<mat-datepicker #pickerTo></mat-datepicker>
			<mat-error>Empty or invalid date</mat-error>
			<mat-hint align="end">m/d/yyyy</mat-hint>
		</mat-form-field>
		<mat-checkbox color="primary" (click)="onEndlessClick()" [(ngModel)]="rule.endlessRule">Endless rule</mat-checkbox>
	</div>



	<h2 class="sub-title">Event type</h2>
	<mat-radio-group [(ngModel)]="rule.type" class="full-width">
		<mat-radio-button class="marginright5" color="primary" value="inside">Keep inside</mat-radio-button>
		<mat-radio-button color="primary" value="outside">Keep outside</mat-radio-button>
	</mat-radio-group>

	<h2 class="sub-title">Active time</h2>
	<mat-radio-group class="full-width" [(ngModel)]="rule.weekValue">
		<div class="full-width">
			<mat-radio-button color="primary" value="0" (click)="rule.weekValue = 0;">Always</mat-radio-button>
		</div>
		<div class="full-width">
			<mat-radio-button color="primary" class="marginright10" value="1" (click)="rule.weekValue = 1;">Whole week</mat-radio-button>

			<mat-form-field class="time-field" floatPlaceholder="never">
				<input #wholeWeekStartTime="ngModel" matInput placeholder="00:00" class="input-time" [(ngModel)]="rule.wholeWeek.startTime"
				 [disabled]="rule.weekValue!=1" required minlength="3" maxlength="5" pattern={{timeFormat}}>
				<mat-error *ngIf="wholeWeekStartTime.errors">{{getTimeErrorMessage(wholeWeekStartTime.errors)}}</mat-error>
			</mat-form-field>
			-
			<mat-form-field class="time-field" floatPlaceholder="never">
				<input #wholeWeekEndTime="ngModel" matInput placeholder="00:00" class="input-time" [(ngModel)]="rule.wholeWeek.endTime" [disabled]="rule.weekValue!=1"
				 required minlength="3" maxlength="5" pattern={{timeFormat}}>
				<mat-error *ngIf="wholeWeekEndTime.errors">{{getTimeErrorMessage(wholeWeekEndTime.errors)}}</mat-error>
			</mat-form-field>
		</div>


		<div class="full-width" style="font: 500 16px/28px  Roboto,'Helvetica Neue',sans-serif;">
			<mat-radio-button color="primary" value="2" (click)="rule.weekValue = 2;">User defined</mat-radio-button>
			<div class="full-width top-margin20">
				<ul>
					<li>Work days</li>
					<li>
						<ul style="margin-top: 0;">
							<li *ngFor="let day of rule.workdays; let i = index">
								<mat-checkbox color="primary" class="marginright10" [(ngModel)]="day.checked" [disabled]="rule.weekValue!=2">{{day.name}}</mat-checkbox>
								<mat-form-field floatPlaceholder="never" class="time-field">
									<input #startTime="ngModel" matInput placeholder="00:00" class="input-time" maxlength="5" [(ngModel)]="day.startTime" [disabled]="rule.weekValue!=2 || !day.checked"
									 required minlength="3" maxlength="5" pattern={{timeFormat}}>
									<mat-error *ngIf="startTime.errors">{{getTimeErrorMessage(startTime.errors)}}</mat-error>
								</mat-form-field>
								-
								<mat-form-field floatPlaceholder="never" class="time-field">
									<input #endTime="ngModel" matInput placeholder="00:00" class="input-time" maxlength="5" [(ngModel)]="day.endTime" [disabled]="rule.weekValue!=2 || !day.checked"
									 required minlength="3" maxlength="5" pattern={{timeFormat}}>
									<mat-error *ngIf="endTime.errors">{{getTimeErrorMessage(endTime.errors)}}</mat-error>
								</mat-form-field>
							</li>
						</ul>
					</li>
					<li>Weekends</li>
					<li>
						<ul>
							<li *ngFor="let day of rule.weekends" class="full-width">
								<mat-checkbox color="primary" class="marginright10" [(ngModel)]="day.checked" [disabled]="rule.weekValue!=2">{{day.name}}</mat-checkbox>
								<mat-form-field class="time-field" floatPlaceholder="never">
									<input #weekendStartTime="ngModel" matInput placeholder="00:00" class="input-time" maxlength="5" [(ngModel)]="day.startTime"
									 [disabled]="rule.weekValue!=2 || !day.checked" required minlength="3" maxlength="5" pattern={{timeFormat}}>
									<mat-error *ngIf="weekendStartTime.errors">{{getTimeErrorMessage(weekendStartTime.errors)}}</mat-error>
								</mat-form-field>
								-
								<mat-form-field class="time-field" floatPlaceholder="never">
									<input #weekendEndTime="ngModel" matInput placeholder="00:00" class="input-time" maxlength="5" [(ngModel)]="day.endTime"
									 [disabled]="rule.weekValue!=2 || !day.checked" required minlength="3" maxlength="5" pattern={{timeFormat}}>
									<mat-error *ngIf="weekendEndTime.errors">{{getTimeErrorMessage(weekendEndTime.errors)}}</mat-error>
								</mat-form-field>
							</li>
						</ul>
					</li>
				</ul>
				<div class="clear"></div>
			</div>
		</div>
	</mat-radio-group>

	<h2 class="sub-title">Fleets &amp; vehicles</h2>
	<div>
		<div class="full-width" style="width:40%; float:left; margin-right:5%;">
			<mat-form-field class="full-width">
				<mat-select [formControl]="vehicles" [ngModel]="rule.vehicleList" multiple placeholder="Vehicles">
					<mat-select-trigger>
						{{(vehicles.value && vehicles.value.length > 0) ? vehicles.value.length+" vehicle(s) selected" : ''}}
					</mat-select-trigger>
					<mat-option *ngFor="let vehicle of vehicleList" [value]="vehicle.id">{{vehicle.name}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>

		<div class="full-width" style="width:40%; float:left;">
			<mat-form-field class="full-width">
				<mat-select [formControl]="fleets" [ngModel]="rule.fleetList" multiple placeholder="Fleets">
					<mat-select-trigger>
						{{(fleets.value && fleets.value.length > 0) ? fleets.value.length +" fleet(s) selected" : ''}}
					</mat-select-trigger>
					<mat-option *ngFor="let fleet of fleetList" [value]="fleet.id">{{fleet.name}}</mat-option>
				</mat-select>
			</mat-form-field>
		</div>
		<div class="clear"></div>
	</div>

	<div class="full-width top-margin20">
		<mat-form-field class="full-width">
			<textarea #descInput matInput tabindex="1" placeholder="Description" [(ngModel)]="rule.description" maxlength="150" rows="4"></textarea>
			<mat-hint align="end">{{descInput.value?.length || 0}}/100</mat-hint>
		</mat-form-field>
	</div>


</div>
<div mat-dialog-actions>
	<button class="active-btn" mat-button tabindex="2" (click)="onOkClick()">Submit</button>
	<button class="active-btn" mat-button (click)="onNoClick()" tabindex="-1">Cancel</button>
	<div class="full-width errorMessage" *ngIf="errorMessage">{{errorMessage}}</div>
</div>