.dialog {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}


.full-width{
    width: 100%;
}

.checkbox-margin{
    margin: 0 20px;
}

.sub-title{
    font: 500 16px/28px  Roboto,"Helvetica Neue",sans-serif;
    color: #424242;
}

li{
    font: Roboto,"Helvetica Neue",sans-serif;
}

.input-time{
    width: 20%;
}

.width30{
    width: 30%;
}

.date-picker-padding{
    width:30%; 
    padding-right:5%;
}

.datepicker-div .mat-form-field{
    width: 30%;
    margin-right: 5%;
}
.datepicker-div{
    margin-top: 20px;
}

.datepicker-div mat-checkbox{
    width: 20%;
}

.top-margin20{
    margin-top: 20px;
}

ul{
    list-style-type:none;
}

.clear{
    clear: both;
}

.width-50{
    width: 50%;
}

.noside-margin{
    margin-left: 0;
    margin-right: 0;
}
.no-padding{
    padding: 0 !important;
}
input{
    width: 100% !important;
}

li .mat-checkbox{
    display: inline-block;
    width: 15%;
    min-block-size: 50px;
    max-block-size: 80px;
}


.time-field{
    min-width:45px;
    max-width: 60px;
    width: 20%;
    margin-left: 5%;
    margin-right: 5%;
}

.ampm-field{
    min-width: 50px;
    max-width: 65px;
    width: 20%;
}

.errorMessage{
    color: red; 
    margin-top: 10px;
    font: Roboto,"Helvetica Neue",sans-serif;
}

.vehicle-menu{
    width: 40%;
}

.fleet-menu{
    width: 40%;
}

.paddingleft5{
    padding-left: 5%;
}
.paddingleft10{
    padding-left: 10%;
}

.paddingright10{
    padding-right: 10%;
}

.marginright5{
    margin-right: 5%;
}

.marginright10{
    margin-right: 10%;
}
