<div class="full-width rule-section">
	<div class="full-width rule-buttons">
		<div class="left-buttons">
			<button class="active-btn" mat-raised-button (click)="openNewRuleDialog()" [disabled]="areaId==null">+ New rule</button>
			<button class="active-btn" mat-raised-button (click)="openEditRuleDialog()" [disabled]="activeRow==null">Edit rule</button>
			<button class="active-btn" mat-raised-button (click)="duplicateRule()" [disabled]="activeRow==null">Duplicate rule</button>
			<button class="active-btn" mat-raised-button (click)="deleteRule()" [disabled]="activeRow==null">Delete rule</button>
		</div>
		<div class="right-buttons">
			<button class="active-btn" mat-raised-button (click)="showRuleDetail()" [disabled]="activeRow==null">Show detail</button>
		</div>
		<div class="clear"></div>
	</div>
	<div class="full-width table-div">


		<div class="table-container mat-elevation-z8">
			<mat-table #table [dataSource]="dataSource" class="rule_table">

				<ng-container matColumnDef="name">
					<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
					<mat-cell *matCellDef="let element" class="nameCell" [style.color]="element.id===activeRow ? 'white' : 'black'"> {{ getName(element) }} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="validDate">
					<mat-header-cell *matHeaderCellDef> Valid date </mat-header-cell>
					<mat-cell *matCellDef="let element" [style.color]="element.id===activeRow ? 'white' : 'black'"> {{ getValidDate(element) }} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="events">
					<mat-header-cell *matHeaderCellDef> Event types </mat-header-cell>
					<mat-cell *matCellDef="let element" [style.color]="element.id===activeRow ? 'white' : 'black'"> {{ getEventTypes(element) }} </mat-cell>
				</ng-container>
				<ng-container matColumnDef="timeRest">
					<mat-header-cell *matHeaderCellDef> Time restrictions </mat-header-cell>
					<mat-cell *matCellDef="let element" [style.color]="element.id===activeRow ? 'white' : 'black'"> {{ getTimeRestrictions(element) }} </mat-cell>
				</ng-container>

				<ng-container matColumnDef="desc">
					<mat-header-cell *matHeaderCellDef> Description </mat-header-cell>
					<mat-cell *matCellDef="let element" [style.color]="element.id===activeRow ? 'white' : 'black'"> {{ getDesc(element) }} </mat-cell>
				</ng-container>

				<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
				<mat-row *matRowDef="let row; columns: displayedColumns;" [style.background]="row.id===activeRow ? '#003460' : ''
					" (click)="rowClicked(row) "></mat-row>
			</mat-table>

			<mat-paginator #paginator [length]="ruleDatabase.data.length" [pageIndex]="0" [pageSize]="10" [pageSizeOptions]="[5, 10, 25]">
			</mat-paginator>
		</div>


	</div>

</div>