 
.rule_table mat-cell{
    padding-right:10px; 
}

.rule-buttons{
    padding: 10px 10px 0 10px; 
}
.table-div{
    margin-top: 10px; 
}

.mat-table {
    overflow: auto;
    max-height: 500px;
}

.rule_table mat-row:hover {
	background: lightgray;
}

.rule-section .clear{
	clear: both;
}

.rule-section .left-buttons{
    float: left;
    width: 80%;
}

.rule-section .right-buttons{
	float: right;
	width: 20%;
    text-align: right;
}
