<div class="app-menu">
</div>
<div class="header-content ">
	<div class="logo">
		<img [src]="headerImgPath" alt="openmatics header img" />
	</div>
	<div class="app-name">Geofencing</div>

</div>
<div class="wrapper">
	<app-nav>
	</app-nav>
	<router-outlet>
	</router-outlet>
	<footer class="footer">
		<div class="footer-text">
			powered by
			<img class="footer-logo" [src]="footerImgPath" alt="openmatics footer img" />
		</div>
	</footer>
</div>