.wrapper{
	padding: 20px;
	padding-left:100px;
	padding-top: 60px;
}

.header-content {
    border-bottom: 1px solid #cccccc;
	background-color: #ffffff;
	left: 80px;
	position:fixed;
    top:0;
	height: 60px;
	right: 0;
	display:flex;
	align-items:center;
	z-index:1000;
}

.logo {
	margin-right: 10px;
    margin-left: 20px;
}

.app-name{
	display: -webkit-box;
    display: flex;
    -webkit-box-align: center;
    align-items: center;
    min-width: 150px;
    height: 30px;
    border-left: 1px solid #cccccc;
    padding-left: 10px;
    color: #005ca8;
    font-size: 23px;
    font-weight: bold;
}

.card {
	display: -webkit-box;
	display: flex;
	-webkit-box-orient: vertical;
	-webkit-box-direction: normal;
	flex-flow: column;
	overflow-y: auto;
	height: 100%;
	box-shadow: 1px 1px 3px #cccccc;
	border: 1px solid #cccccc;
	background: #ffffff;
}

h1 {
	font-size: 20px
}
.footer{
	position:fixed;
    bottom:0;
    background-color: #005ca8;
    color: #ffffff;
	font-size: 13px;
	height: 20px;
	right: 0;
	left: 0;
	text-align: center;
	padding-top: 15px;
	z-index: 5;
}

.footer-text{
	bottom: 6px;
	position: relative;
}
.footer-logo {
	vertical-align: middle;
	position: relative;
	bottom: 1px;
	width: 110px;
	height:13px;
}
.app-menu{
	background-color: rgb(0,52,96);
	position: fixed;
    top: 0px;
    bottom: 35px;
	width: 80px;
	left: 0px;
}