.full-width{
    width: 100%;
}

.table-title{
    font-weight: bold;
}

.table-value{
    padding-left: 10%;
}

.detail-table td{
    padding-bottom: 1em;
}

.detail-table td.no-padding{
    padding: 0;
}

.time-table{
    margin-top: 0.75em;
}