<h1 mat-dialog-title>{{rule.name}}</h1>
<div mat-dialog-content class="rule-detail">
	<table class="detail-table">
		<tr>
			<td class="table-title">Rule valid date</td>
			<td class="table-value">{{ getValidDate() }}</td>
		</tr>
		<tr>
			<td class="table-title">Event types</td>
			<td class="table-value">{{ getEvents() }}</td>
		</tr>
		<tr>
			<td valign="top" class="table-title">Time restrictions</td>
			<td class="table-value">
				<div *ngIf="rule.weekValue===0">Always</div>
				<div *ngIf="rule.weekValue===1">
					Whole week
					<p>{{ rule.wholeWeek.startTime }} - {{ rule.wholeWeek.endTime }}</p>
				</div>
				<div *ngIf="rule.weekValue===2">Advanced
					<table class="time-table">
						<tr *ngFor="let row of getTimeTable()">
							<td class="no-padding" style="padding-right: 1em;">{{ row.name }}</td>
							<td class="no-padding">{{ row.startTime }} - {{ row.endTime }}</td>
						</tr>
					</table>
				</div>

			</td>
		</tr>
		<tr>
			<td class="table-title">Vehicle list</td>
			<td class="table-value">
				<mat-form-field>
					<mat-select placeholder="{{vehicleNames.length + ' vehicle(s) selected'}}">
						<mat-option *ngFor="let name of vehicleNames" disabled style="color:#333;">{{name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td class="table-title">Fleet list</td>
			<td class="table-value">
				<mat-form-field>
					<mat-select placeholder="{{fleetNames.length + ' fleet(s) selected'}}">
						<mat-option *ngFor="let name of fleetNames" disabled style="color:#333;">{{name}}</mat-option>
					</mat-select>
				</mat-form-field>
			</td>
		</tr>
		<tr>
			<td class="table-title">Description</td>
			<td class="table-value">{{ rule.description }}</td>
		</tr>
	</table>

</div>
<div mat-dialog-actions>
	<button class="active-btn" mat-button (click)="onCloseClick()" tabindex="2">Close</button>
</div>