<div class="appLeft card">

	<mat-expansion-panel [expanded]="true">
		<mat-expansion-panel-header>
			<mat-panel-title>
				MAP
			</mat-panel-title>
			<mat-panel-description>
				<!-- TEXT 2 -->
			</mat-panel-description>
		</mat-expansion-panel-header>
		<button class="active-btn header-btn" mat-button (click)="addArea()"> Add Area</button>
		<button class="active-btn header-btn" mat-button (click)="deleteArea()">Delete Area</button>

	</mat-expansion-panel>
	<div style="height:100% !important; width:100% !important;">
		<mat-table #table [dataSource]="dataSource" style="height:100% !important; width:100% !important;">

			<ng-container matColumnDef="created">
				<mat-header-cell *matHeaderCellDef> Created </mat-header-cell>
				<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.created.toDateString()}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="description">
				<mat-header-cell *matHeaderCellDef> Area name </mat-header-cell>
				<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.description}} </mat-cell>
			</ng-container>

			<ng-container matColumnDef="autor">
				<mat-header-cell *matHeaderCellDef> Autor </mat-header-cell>
				<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.autor}} </mat-cell>
			</ng-container>

			<mat-header-row *matHeaderRowDef=" displayedColumns "></mat-header-row>
			<mat-row *matRowDef="let row; columns: displayedColumns; " [style.background]="row.id===activeRow ? '#003460' : ''
					 " (click)="rowClicked(row) "></mat-row>
		</mat-table>

		<mat-paginator #paginator [length]="localDb.data.length " [pageIndex]="0 " [pageSize]="25
					 " [pageSizeOptions]="[5, 10, 25, 100] ">
		</mat-paginator>
	</div>
</div>