<div>
	<div class="filter-left">
		<h3>Time intervals</h3>
		<div>
			<mat-form-field>
				<input matInput [matDatepicker]="picker" [(ngModel)]="filter.dateFrom" placeholder="Date from">
				<mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>
				<mat-datepicker #picker></mat-datepicker>
			</mat-form-field>
			<mat-form-field>
				<input matInput [matDatepicker]="pickerto" [(ngModel)]="filter.dateTo" placeholder="Date to">
				<mat-datepicker-toggle matSuffix [for]="pickerto"></mat-datepicker-toggle>
				<mat-datepicker #pickerto></mat-datepicker>
			</mat-form-field>
			<mat-form-field [color]="primary">
				<input matInput placeholder="Last # days" [(ngModel)]="filter.lastXEntries" value="" type="number">
			</mat-form-field>
		</div>
	</div>
	<div class="filter-right">
		<h3>Other criteria</h3>
		<div>
			<mat-form-field>
				<input matInput placeholder="Car/Fleet" [(ngModel)]="filter.car" value="">
			</mat-form-field>
			<mat-form-field class="">
				<input matInput placeholder="Rule" [(ngModel)]="filter.rule" value="">
			</mat-form-field>
		</div>
		<button mat-raised-button class="button active-btn" (click)="log()">Filter</button>
	</div>
</div>