.example-form {
    min-width: 150px;
    max-width: 500px;
    width: 100%;
}

.example-full-width {
	width: 100%;
}

@media screen and (min-width: 1024px) {
.filter-left{
    min-width:40%;
    max-width:49%;
    float:left
}

.filter-right{
    padding-left:2%;
    min-width:40%;
    max-width:49%;
    float: left;
  }
}