<div class="events">
	<h2>Events</h2>
	<mat-table #table [dataSource]="dataSource" class="table">

		<!--- Note that these columns can be defined in any order.
                  The actual rendered columns are set as a property on the row definition" -->

		<!-- ID Column -->
		<ng-container matColumnDef="date">
			<mat-header-cell *matHeaderCellDef> Date </mat-header-cell>
			<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.date.toDateString()}} </mat-cell>
		</ng-container>
		<!-- Name Column -->
		<ng-container matColumnDef="event">
			<mat-header-cell *matHeaderCellDef> Name </mat-header-cell>
			<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.event}}
			</mat-cell>

		</ng-container>

		<!-- Color Column -->
		<ng-container matColumnDef="carid">
			<mat-header-cell *matHeaderCellDef> Car name </mat-header-cell>
			<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.vehName}} </mat-cell>
		</ng-container>

		<!-- text Column -->
		<ng-container matColumnDef="rule">
			<mat-header-cell *matHeaderCellDef> Rule violated </mat-header-cell>
			<mat-cell *matCellDef="let row" [style.color]="row.id===activeRow ? 'white' : 'black'"> {{row.name.toLowerCase()}} </mat-cell>
		</ng-container>

		<mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
		<mat-row *matRowDef="let row; columns: displayedColumns; " [style.background]="row.id===activeRow ? '#003460' : ''
			" (click)="rowClicked(row) "></mat-row>
	</mat-table>

	<mat-paginator #paginator [length]="exampleDatabase.data.length" [pageIndex]="0" [pageSize]="25" [pageSizeOptions]="[5, 10, 25, 100]">
	</mat-paginator>
</div>