.example-container {
    display: flex;
    flex-direction: column;
    min-width: 300px;
}

.example-header {
    min-height: 64px;
    display: flex;
    align-items: baseline;
    padding: 8px 24px 0;
    font-size: 20px;
    justify-content: space-between;
}

.mat-form-field {
    font-size: 14px;
    flex-grow: 1;
	margin-left: 32px;
}

.mat-table {
	overflow: auto;
	max-height: 700px;
}

.table{
    height:100%;
    width:100%;
}

.events{
	height:500px;
	width:100%;
}
