@import '~@angular/material/prebuilt-themes/indigo-pink.css';
body {
  background-color: #ebf5fa !important;
}

.mat-grid-tile .mat-figure {
  justify-content: left!important;
  align-items: initial !important;
  padding:10px !important;
}

html {
	font-family: "Roboto", "Open Sans", sans-serif !important;
}

.mat-toolbar-layout .mat-toolbar-row{
	background: #003460
}

.mat-toolbar.mat-primary {
	background: #003460
}

.gmapcomp{
    height: 95%;
    width: 100%;
}
.map {
    height:556px;
    width:100%;
}
.active-btn {
	background: #003460;
    color: white !important;
}
.mat-ink-bar{
	background-color: #003460 !important;
}
mat-row:hover {
	background: lightgray;
}

mat-panel-title{
	color: #777575;
	font-size: 13px;
	font-weight: bold;
}
mat-header-row {
	background:lightgray;
	font-weight: bold;
}
