<div>
	<div>
		<app-header></app-header>
	</div>
	<div>
		<div class="appmessages">
			<app-messages></app-messages>
		</div>
	</div>
	<div>
		<div class="appgmap">
			<app-googlemap></app-googlemap>
		</div>
	</div>
</div>